<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Emoji detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--=============== css  ===============-->	
    <link type="text/css" rel="stylesheet" href="static/reset.css">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <link type="text/css" rel="stylesheet" href="static/style-dark.css"> 
    <!--=============== favicons ===============-->
    <body>
        <!--loader-->
        <div class="loader-wrap" style="display: none;">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--loader end-->
        <!-- main start  -->
        <div id="main" style="opacity: 1;">
            <!-- header end -->
            <!-- wrapper  -->	
            <div id="wrapper">
                <!--content -->	
                <div class="content full-height">
                    <!--home-main_container-->
                    <div class="home-main_container">
                        <!--home-main_title-->
                        <div class="home-main_title">
                            <div class="home-main_title_item">
                                <h2>Emoji detection</h2>
                                <a href="https://github.com/0x6f736f646f/Emojidetection" class="btn fl-btn">Portfolio</a>
                            </div>
                        </div>
                        <!--home-main_title end-->
                        <!--bg video-->
                        <div class="media-container media-container_fs">
                            <div class="video-mask"></div>
                            <div class="video-holder" style="height: 544px;">
                                <div class="video-container" style="width: 1349px; height: 758.813px;">
                                    <img class="bgvid">
                                        <img src="{{ url_for('video_feed') }}" width="85%"></img>
                                    </img>
                                </div>
                            </div>
                        </div>
                        <div class="overlay"></div>
                        <!--bg image end-->
                    </div>
                    <!--home-main_container end-->	
                </div>
                <!--content end-->	
            </div>
            <!-- wrapper end -->
            <!-- sidebar -->
        </div>
        <!-- Main end -->
        <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 0px; z-index: 19; cursor: default; position: fixed; top: 90px; left: 1799px; height: 564px; touch-action: none; opacity: 0;">
            <div style="position: relative; top: 0px; float: right; width: 0px; height: 207px; background-color: rgb(66, 66, 66); border: medium none; background-clip: padding-box; border-radius: 0px; touch-action: none;" class="nicescroll-cursors">
            </div>
        </div>
        <div id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 0px; z-index: 19; top: 654px; left: 1399px; position: fixed; cursor: default; display: none; width: 400px; opacity: 0;">
            <div style="position: absolute; top: 0px; height: 0px; width: 400px; background-color: rgb(66, 66, 66); border: medium none; background-clip: padding-box; border-radius: 0px;" class="nicescroll-cursors">
            </div>
        </div>
    </body>
</html>
<html>